
body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #333;
    outline: 1px solid slategrey;
}

* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 32px
}

.section {
    height: 1160px;
    width: 100%;
    padding: 40px;
    text-align: center;
    font-weight: bold;
    color: #FFF
}

#section1 {
    background: linear-gradient(to right, rgb(69, 104, 220), rgb(176, 106, 179))
}

#section2 {
    background: linear-gradient(to right, rgb(67, 198, 172), rgb(25, 22, 84))
}

#section3 {
    background: linear-gradient(to right, rgb(9, 48, 40), rgb(35, 122, 87))
}

#section4 {
    background: linear-gradient(to right, rgb(243, 144, 79), rgb(59, 67, 113))
}

#section5 {
    background: linear-gradient(to right, rgb(232, 203, 192), rgb(99, 111, 164))
}

.dots i {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer
}

.circle {
    height: 13px;
    width: 13px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    box-sizing: inherit;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    margin-right: 5px;
}

.active,
.circle:hover {
    background-color: #666;
    color: #666;
    border: 1px solid #666;
}

.dots {
    position: fixed;
    top: 45%;
    left: 25px;
    color: #FFF;
}

ul li {
    border-radius: 5%;
    display: inline;
    padding: 10px;
    margin-right: 10px;
    font-size: 22px;
    cursor: pointer;
}

ul li a {
    color: black;
    text-decoration: underline;
}

ul li:hover {
    background-color: #8db5e75c;
}

.nav_bar {
    width: 26px;
    height: auto;
    margin-right: 10px;
}

.menu {
    width: 600px;
    height: 80px;
    float: right;
}




#blog h1 {
    text-align: center;
    padding-bottom: 55px;
    font-size: 50px;
}

#blog p {
    width: 55%;
    margin: 0 auto;
    font-size: 18px;
}

.mySlides {
    width: 100%;
    width: 100%;
    display: block;
    border-style: none;
    box-sizing: inherit;
}

.slide-left,
.slide-right,
.slide-badge {
    cursor: pointer;
}

.slide-badge {
    height: 13px;
    width: 13px;
    padding: 0;
}

.slide-container {
    max-width: 800px;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-sizing: inherit;
    display: block;
}

.controls-container {
    content: "";
    display: table;
    clear: both;
    width: 100%;
    color: #fff;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 18px;
    padding: 0.01em 16px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    box-sizing: inherit;
}

.slide-left {
    margin-left: 10px;
    cursor: pointer;
    float: left;
    box-sizing: inherit;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.slide-right {
    margin-right: 10px;
    cursor: pointer;
    float: right;
    box-sizing: inherit;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.hover-text {
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.hover-text:hover {
    color: #b4aa50;
}

.slide-button {
    height: 13px;
    width: 13px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    box-sizing: inherit;
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin-right: 5px;
}

.slide-button:hover,
.slide-button:active {
    background-color: #666;
    color: #666;
    border: 1px solid #666;
}

.button-white {
    color: #000;
    background-color: #fff;
}

.myText {
    text-align: center;
}

.myText h2 {
    text-align: center;
    font-size: 30px;
}

.myText p {
    text-align: center;
    font-size: 18px;
}


/* about section */

#about img {
    padding-top: 50px;
    max-width: 95px;
}

#container {
    margin-top: 30px;
    width: 100%;
}

#left {
    background-color: #0fb8ad;
    float: left;
    width: 360px;
    height: 550px;
    margin: 0 0 0 190px;
    border-radius: 5px;
}

#center {
    background-color: #0fb8ad;
    margin: 0 auto;
    width: 360px;
    height: 550px;
    border-radius: 5px;
    margin-top: 100px;
}

#right {
    background-color: #0fb8ad;
    float: right;
    width: 360px;
    height: 550px;
    margin: 0 190px 0 0;
    border-radius: 5px;
}

.title {
    display: inline-block;
    width: 50%;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}

.title:before {
    content: "";
    margin-top: 15px;
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 4px solid #629e14;
}

.text {
    margin-left: 10%;
    height: 80%;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    color: #383535;
}

#about h1 {
    text-align: center;
    font-size: 50px;
}


/* about section */


/* photo */

.avatar {
    vertical-align: middle;
    width: 40%;
    height: auto;
    border-radius: 50%;
    margin-left: 165px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#photo {
    display: block;
    margin-left: auto;
    padding-top: 8%;
    margin-right: auto;
    width: 30%;
}


/* photo */


/* languages  */

#languages h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 0;
}

.coding {
    max-width: 100px;
    margin: 0 auto;
}

.boxs {
    display: block;
    padding: 10px;
    background-color: #0fb8ad;
    float: left;
    width: 330px;
    height: 380px;
    margin: 10px 0px 15px 205px;
    border-radius: 5px;
    font-size: 18px;
}


/* footer */

footer {
    display: block;
}

.footer {
    margin: 354px 0 0px -40px;
    padding: 20px 0 26px 35px;
    text-align: left;
    background: linear-gradient(141deg, #8888886b 25%, #6c6c6c 0%, #55555582 58%);
    width: 100%;
    position: absolute;
    font-size: 24px;
}