
* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px
}

.section {
    height: 1160px;
    width: 100%;
    padding: 40px;
    text-align: center;
    font-weight: bold;
    color: purple
    
}

#fronttxt {
    margin-left: 10%;
    height: 80%;
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #790f59;
}


ul li {
    display: inline;
    padding: 10px;
    margin-right: 10px;
    font-size: 20px;
    
}

ul li a {
    color: purple;
}


#about img {
    padding-top: 50px;
    max-width: 95px;
}

#container {
    margin-top: 30px;
    width: 100%;
}

#left {
    background-color: white;
    float: left;
    width: 360px;
    height: 550px;
    margin: 0 0 0 190px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px purple;
}

#centre {
    background-color:white;
    margin: 0 auto;
    width: 360px;
    height: 550px;
    border-radius: 5px;
    margin-top: 100px;
    box-shadow: 0px 0px 15px purple;
}

#right {
    background-color :white;
    float: right;
    width: 360px;
    height: 550px;
    margin: 0 190px 0 0;
    border-radius: 5px;
    box-shadow: 0px 0px 15px purple;


}

.text {
    margin-left: 10%;
    height: 80%;
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    color: #790f59;
}

#about h1 {
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.me {
    width: 400px;
	overflow: hidden;
	display: inline-block;
	background-size: cover;
	background-position: center;
    border-radius: 60px; 
    box-shadow: 0px 0px 15px purple;	
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#photo {
    display: block;
    margin-left: auto;
    padding-top: 8%;
    margin-right: auto;
    width: 30%;
}


.images {
    max-width: 200px;
    margin: 0 auto;
}

.aboutmebox {
    display: block;
    padding: 10px;
    background-color:white;
    float: left;
    width: 330px;
    height: 380px;
    margin: 10px 0px 15px 205px;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0px 0px 15px purple;	
}


